{% extends 'base.html.twig' %}

{% block title %}Disciplina index{% endblock %}

{% block body %}
    <div class="col-lg-12">
    <h3>Listar Disciplina</h3>

    <a href="{{ path('dicsiplina_new') }}" class="btn btn-sm btn-primary">Criar Novo</a>
<div class="card my-2">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm mb-0 table-striped">
                <thead>
                <tr>
                    <th class="px-5 py-3">Nome Disciplina</th>
                    <th class="px-0">Qtd de Horas Semanal</th>
                    <th class="px-5 py-3">Acções</th>
                </tr>
                </thead>
                <tbody id="customers">
                {% for dicsiplina in dicsiplinas %}
                <tr class="btn-reveal-trigger">
                    <td class="py-2">{{ dicsiplina.getNomeDiscilpina()  }}</td>
                    <td class="py-2">{{ dicsiplina.cantHoras }}</td>
                    <td>
                        <a href="{{ path('dicsiplina_show', {'id': dicsiplina.id}) }}" class="btn btn-sm btn-primary"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('dicsiplina_edit', {'id': dicsiplina.id}) }}" class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></a>
                        <a href="{{path('dicsiplina_delete', {'id': dicsiplina.id})}}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>
    </div>
    </div>



{% endblock %}


