{% extends 'base.html.twig' %}

{% block title %}Estudante{% endblock %}

{% block body %}

<div class="col-sm-8">
    <div class="card">
        <div class="card-header">
            <h4> Estudante {{ estudiante.nomeEstudiante}}</h4>
            <div class="card-body">
                <table class="table table-sm ">
                    <tbody>

                    <tbody>
                    <tr>
                        {{ include('Estudantes/_delete_form.html.twig') }}
                        <a href="{{ path('Estudante_index') }}" class="btn btn-sm btn-primary mr-2 ml-2"><i class="fas fa-list"></i>Voltar a Lista</a>
                        <a href="{{ path('Estudante_edit', {'id': estudiante.id}) }}" class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i>Editar</a>
                    </tr>
                    <tr>
                        <th>Nome Estudante</th>
                        <td>{{estudiante.nomeEstudiante}}</td>
                    </tr>
                    <tr>
                        <th>Fotografia</th>

                        <td><img src="{{asset("assets/img/estudante/")}}{{  estudiante.Fotografia  }}" style="width: 30%" class="img-radius" alt="User-Profile-Image">

                            </td>
                    </tr>
                    <tr>
                        <th>NumProcesso</th>
                        <td>{{  estudiante.NumProcesso  }}</td>
                    </tr>
                    <tr>
                        <th>E-mail</th>
                        <td>{{  estudiante.email }}</td>
                    </tr>
                    <tr>
                        <th>Telefone</th>
                        <td>{{  estudiante.telefone }}</td>
                    </tr>
                    <tr>
                        <th>BI</th>
                        <td>{{  estudiante.BI }}</td>
                    </tr>
                    <tr>
                        <th>Data de Nascimento</th>
                        <td>{{  estudiante.DataNascimento ? estudiante.DataNascimento|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Discapacidade</th>
                        <td>{{  estudiante.Discapacidade ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>Ano Acadêmico</th>
                        <td>{{   estudiante.anoAcademico.getNomeAnoAcademico()}}</td>
                    </tr>

                    <tr>
                        <th>Curso</th>
                        <td>{{ estudiante.anoAcademico.curso.getNomeCurso()}}</td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

{% endblock %}



